<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ shop.name }}</title>
    {{ content_for_header }}
    {{ 'base.css' | asset_url | stylesheet_tag }}
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>

  </head>
  <body>
    {% section 'acbd' %}
    {% section 'nav' %}

    {{ content_for_layout }}

    {% render 'stt' %}

    {% render 'footer' %}

    {% comment %} Somewhere in layout/theme.liquid {% endcomment %}

    <script type="application/json" data-ajax-cart-initial-state>
      {{ cart | json }}
    </script>

    <script type="module">
      import '{{ "liquid-ajax-cart-v1.10.3.js" | asset_url }}';
    </script>
  </body>
</html>